.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #4285f4;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    color: white;
    text-decoration: none;
   
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;



    .nav-wrapper {
      display: flex;
      flex-direction: row;


    }

    .nav-style {
      text-decoration: none;
      color: black;
    }

    .option {
      padding: 10px 15px;
      color: white;
    }
  }
}